/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', serif;
    padding: 50px;
}

/* Container */
.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
}

/* Headings */
h1 {
    font-size: 2.5em;
    text-align: center;
    color: ; 
}

/* Paragraphs */
p {
    color: #F5F5DC;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Smooth edges */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }
}
